.header-container img{
    width: 300px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 100;
    height: 200vh;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header a{
    text-decoration: none;
    color: #F9FAF8;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 12px 180px 72px;
}

.header-subsection {
    display: flex;
}

.header-subsection img {
    width: 50%;
    margin-left: 24px;
}

.header-subsection button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    padding: 8px 24px;
}

.body {
    display: flex;
    justify-content: center;
    padding: 8px;
    position: relative;
}

.body .body-subsection-one {
    text-align: center;
    padding: 8px 180px;
    max-width: 100%;
    height: 33%;
}

.body .images {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin-top: 48px;
    gap: 26px;
    max-width: 100%;
}

.body .images img{
    max-width: 100%;
    margin-bottom: 24px;
    flex: 1;
}

.image {
    display: flex;
    flex-direction: column;
}

.quote-subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 33%;
    background-color: #E5E7EB;
}

.sign-up {
    height: 33%;
    
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 64px;
}

